global:
  image:
    tag: "v2.8.3"
  networkPolicy:
    create: false
  dualStack:
    enabled: false
    ipFamilyPolicy: "SingleStack"
    ipFamilies:
      - "IPv4"

server:
  service:
    type: LoadBalancer
  route:
    enabled: false
  ingress:
    enabled: false

configs:
  secret:
    argocdServerAdminPassword: "{{ redis_password.stdout }}"
  cm:
    application.instanceLabelKey: argocd.argoproj.io/instance
    repositories: |
      - name: helm-repo
        type: helm
        url: https://charts.bitnami.com/bitnami

redis:
  enabled: true
  name: "argocd-redis"
  service:
    labels: {}
  serviceAccount:
    create: true
  pdb:
    enabled: true
    minAvailable: 1
  networkPolicy:
    create: false
  metrics:
    enabled: false
  auth:
    enabled: true
  config:
    password: "{{ redis_password.stdout }}"
  containerPorts: {}  # 직접 참조되는 값 제거하여 nil pointer 문제 방지

postgresql:
  enabled: false
  auth:
    enablePostgresUser: false
