global:
  image:
    tag: "v2.8.3"  # 최신 ArgoCD 버전 지정
  networkPolicy:
    create: false  # NetworkPolicy 생성 여부 (nil pointer 방지)
  dualStack:
    enabled: false  # DualStack 사용 여부 (nil pointer 방지)
    ipFamilyPolicy: "SingleStack"  # nil pointer 방지
    ipFamilies:
      - "IPv4"  # 기본값을 IPv4로 설정

server:
  service:
    type: LoadBalancer
  route:
    enabled: false  # Openshift 환경이 아닐 경우 false
  ingress:
    enabled: false  # GKE 환경이 아닐 경우 false

configs:
  secret:
    argocdServerAdminPassword: "{{ redis_password.stdout }}"
  cm:
    application.instanceLabelKey: argocd.argoproj.io/instance
    repositories: |
      - name: helm-repo
        type: helm
        url: https://charts.bitnami.com/bitnami

redis:
  enabled: true
  name: "argocd-redis"  # Redis 이름 추가
  service:
    labels: {}  # nil pointer 오류 방지 (빈 딕셔너리라도 설정 필요)
  serviceAccount:
    create: true  # Redis 서비스 계정 생성 활성화
  pdb:
    enabled: true  # Pod Disruption Budget 설정 (nil pointer 방지)
    minAvailable: 1
  networkPolicy:
    create: false  # NetworkPolicy 관련 nil pointer 방지
  metrics:
    enabled: false  # Redis metrics 관련 nil pointer 방지
  config:
    password: "{{ redis_password.stdout }}"
